<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <h1>Meeting Point For {{ title }}</h1>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class=row>
  <!-- this creates a google map on the page with the given lat/lng form -->
  <!-- the component as the initial center of the map: -->
    <div class="row" *ngIf="markerLat">
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <agm-map [latitude]="markerLat" [longitude]="markerLng" (mapClick)="mapClicked($event)">
          <agm-marker *ngIf="marker" [latitude]="marker.lat" [longitude]="marker.lng" (markerClick)="markerClicked(marker)">
            <agm-info-window>
              <strong>{{marker.name}}</strong>
            </agm-info-window>
          </agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <!-- <form>
      <label>Latitude</label>
      <input type="text" [(ngModel)]="markerLat" name="markerLat">
      <label>Longitude</label>
      <input type="text" [(ngModel)]="markerLng" name="markerLng">
    </form> -->
    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <button (click)="meetUpChange()" class="btn btn-danger">Change meetingpoint</button>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <p>Paste below into Google Maps for Directions</p>
        <p>{{markerLat}},{{markerLng}}</p>
        <hr>
      </div>

    </div>
  </div>
</div>