<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img src="assets/images/WITLOGO.png" height="150px" width="150px" />
        <hr>
        <h2>Christopher Buggy 4th year project</h2>
        <h3>Applied Computing Cloud Stream</h3>
        <p>Journey Buddies is a travel application built using MEAN Stack</p>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img src="assets/images/PicOfMe.jpg" height="150px" width="150px" />
        <hr>
        <h6>Technolgies used</h6>
        <ul>
            <li>Angular</li>
            <li>Mongo</li>
            <li>Express</li>
            <li>Node.JS</li>
            <li>Google Maps</li>
            <li>Socket.io</li>
            <li>S3</li>
            <li>EC2</li>
            <li>Multer</li>
        </ul>
    </div>
</div>
